<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>API_KEY</key>
		<string>AIzaSyC5f5Z-f1jJ1U1qFEqpWZ4e5Vuk1jVT5xI</string>
		<key>GCM_SENDER_ID</key>
		<string>765790719322</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.testPrj</string>
		<key>PROJECT_ID</key>
		<string>ppitest-8dd92</string>
		<key>STORAGE_BUCKET</key>
		<string>ppitest-8dd92.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false/>
		<key>IS_ANALYTICS_ENABLED</key>
		<false/>
		<key>IS_APPINVITE_ENABLED</key>
		<true/>
		<key>IS_GCM_ENABLED</key>
		<true/>
		<key>IS_SIGNIN_ENABLED</key>
		<true/>
		<key>GOOGLE_APP_ID</key>
		<string>1:765790719322:ios:98816325fcf8cb08a77763</string>
	</dict>
</plist>
